.bg-tshirts{
    background: linear-gradient(180deg, #93785E 0%, #6E5A47 100%);
    border: none;
}

.bg-coats{
    background: linear-gradient(180deg, #445B77 0%, #334559 100%);
    border: none;
}

.bg-blazers{
    background: linear-gradient(180deg, #13358C 0%, #0E2869 100%);
    border: none;
}

.bg-bodycon{
    background: linear-gradient(180deg, #B7BEC3 0%, #898E92 100%),linear-gradient(180deg, #79848C 0%, #5B6369 100%);
    border: none;
}

.bg-jumpsuit{
    background: linear-gradient(180deg, #FFC0CB 0%, #FFA0B1 100%);
    border: none;
}

.bg-tunics{
    background: linear-gradient(180deg, #A0D6E8 0%, #70CDED 100%);
    border: none;
}

.mt-n5{
    margin-top: -5%;
}