<div class="popular-categories">
    <div class="row">
        <!-- T-Shirts Category -->
        <div class="col-6">
            <div class="card h-75 bg-tshirts text-white">
                <div class="d-flex justify-content-end">
                    <img class="h-75" src="/tshirt_boys.png" alt="">
                </div>

                <div class="position-absolute top-0 start-0 p-3">
                    <h2>T-Shirts</h2>
                </div>

                <div class="p-3 position-absolute bottom-0 start-0">
                    <p>Shop now <span><i class="bi bi-arrow-right"></i></span></p>
                </div>
            </div>
        </div>

        <!-- Coats Category -->
        <div class="col-3">
            <div class="card h-75 bg-coats text-white">
                <div class="d-flex justify-content-end">
                    <img class="h-75" src="/coats.png" alt="coats">
                </div>

                <div class="position-absolute top-0 start-0 p-3">
                    <h2>Coats</h2>
                </div>

                <div class="p-3 position-absolute bottom-0 start-0">
                    <p>Shop now <span><i class="bi bi-arrow-right"></i></span></p>
                </div>
            </div>
        </div>

        <!-- Blazers Category -->
        <div class="col-3">
            <div class="card h-75 bg-blazers text-white">
                <div class="d-flex justify-content-end">
                    <img class="h-75" src="/blazers.png" alt="blazers">
                </div>

                <div class="position-absolute top-0 start-0 p-3">
                    <h2>Blazers</h2>
                </div>

                <div class="p-3 position-absolute bottom-0 start-0">
                    <p>Shop now <span><i class="bi bi-arrow-right"></i></span></p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-n5">
        <!-- Bodycon Dresses Category -->
        <div class="col-3">
            <div class="card h-75 bg-bodycon text-white">
                <div class="d-flex justify-content-end">
                    <img class="h-75" src="/bodycon.png" alt="babycon">
                </div>

                <div class="position-absolute top-0 start-0 p-3">
                    <h2>Bodycon Dresses</h2>
                </div>

                <div class="p-3 position-absolute bottom-0 start-0">
                    <p>Shop now <span><i class="bi bi-arrow-right"></i></span></p>
                </div>
            </div>
        </div>

        <!-- Jumpsuits/Rompers Category -->
        <div class="col-6">
            <div class="card h-75 bg-jumpsuit text-white">
                <div class="d-flex justify-content-end">
                    <img class="h-75" src="/image_jumpsuit.png" alt="jumpsuits">
                </div>

                <div class="position-absolute top-0 start-0 p-3">
                    <h2>Jumpsuits/ <br> Rompers</h2>
                </div>

                <div class="p-3 position-absolute bottom-0 start-0">
                    <p>Shop now <span><i class="bi bi-arrow-right"></i></span></p>
                </div>
            </div>
        </div>

        <!-- Tunics Category -->
        <div class="col-3">
            <div class="card h-75 bg-tunics text-white">
                <div class="d-flex justify-content-end">
                    <img class="h-75" src="/tunics.png" alt="tunics">
                </div>

                <div class="position-absolute top-0 start-0 p-3">
                    <h2>Tunics</h2>
                </div>

                <div class="p-3 position-absolute bottom-0 start-0">
                    <p>Shop now <span><i class="bi bi-arrow-right"></i></span></p>
                </div>
            </div>
        </div>
    </div>
</div>