<div>
    <app-navitems></app-navitems>
</div>

<div class="mx-5 margin-bottom">
    <div *ngIf="product">
        <div class="row align-items-start">
            <div class="col-5">
                <div class="row row-cols-2">
                    <div *ngFor="let image of product.displayImages">
                        <img [src]="image" [alt]="product.productname" style="width: auto; height: auto; margin: 3px;">
                    </div>
                </div>
            </div>


            <div class="col-7 p-0">
                <div class="d-flex justify-content-center">
                    <div class="product-container">
                        <div class="d-flex justify-content-between align-items-start">
                            <h4 class="">{{product.productname}}</h4>
                            <h4 class="product-price">₹ 1,499</h4>
                        </div>

                        <div>
                            <span class="stars">⭐⭐⭐⭐⭐</span>
                            <span class="review-count">(21 reviews)</span>
                        </div>

                        <hr>

                        <!-- Size Options -->
                        <div class="product-sizes">

                            <div class="d-flex justify-content-between align-items-start">
                                <div>
                                    <p>Choose Size <a href="#" class="size-chart-link">size chart</a></p>
                                    <div class="size-options me-2">
                                        <button [disabled]="newCustomFit && isCustomFit" (click)="selectSize(size)"
                                            *ngFor="let size of product.sizes"
                                            [ngClass]="{'selected-size': selectedSize === size}" class="size-button">{{
                                            size }}</button>
                                    </div>
                                </div>

                                <div *ngIf="isCustomFit && !newCustomFit"
                                    class="d-flex justify-content-between custom-fit position-relative">
                                    <div class="vl me-3"></div>
                                    <img class="custom_fit_img" src="/custom_fit.png" alt="custom_fit">

                                    <div class="position_absolute_custom">
                                        <p class="p-2">Get the perfect fit with <br> our custom sizing <br> option.</p>

                                        <div class="d-flex justify-content-center align-items-center">
                                            <button (click)="openCustomFitModal()" class="mt-2">Customize Your
                                                Fit</button>
                                        </div>

                                    </div>
                                </div>


                                <div *ngIf="newCustomFit && isCustomFit" class="measurements-container p-3">
                                    <h6><i class="icon-measurements"></i> Your Measurements</h6>

                                    <div class="d-flex justify-content-between align-items-center">
                                        <p class="measurement-item p-2 me-2 text-nowrap">Bust: <span class="text-dark">
                                                {{ bust }} {{ measurementUnit }}</span>
                                        </p>
                                        <p class="measurement-item p-2 text-nowrap">Arm-Length: <span class="text-dark">
                                                {{ armLength }}
                                                {{measurementUnit }} </span></p>
                                    </div>

                                    <!-- Edit Button -->
                                    <div class="d-flex justify-content-between">
                                        <button class="edit-button me-2" (click)="openCustomFitModal()">EDIT</button>
                                        <button class="edit-button" (click)="clearCustomFitData()">Clear</button>
                                    </div>

                                </div>

                            </div>

                        </div>

                        <!-- Add to Cart and Wishlist Buttons -->
                        <div class="product-buttons">
                            <button class="add-to-cart p-2 w-75" [disabled]="!selectedSize && !isCustomFit"
                                (click)="addToCart()">Add to
                                Cart</button>
                            <button class="add-to-wishlist p-2">Add to Wishlist</button>
                        </div>

                        <!-- Product Description -->
                        <div class="product-section">
                            <h3>Product Description</h3>
                            <p>{{product.description}}</p>
                        </div>

                        <!-- Shipping & Returns -->
                        <div class="product-section">
                            <h3>Shipping & Returns</h3>
                            <p>{{product.shippingAndReturn}}</p>
                        </div>

                        <!-- Care Guide -->
                        <div class="product-section">
                            <h3>Care Guide</h3>
                            <p>{{product.careGuide}}</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>

    <div *ngIf="!product">
        <p>Loading product details...</p>
    </div>
</div>

<hr>

<div>
    <app-footer-elements></app-footer-elements>
</div>