<div>
    <app-navitems></app-navitems>
</div>

<div class="container">
    <div class="mb-5">
        <app-banner-design></app-banner-design>
    </div>

    <div class="mb-5">
        <h2 class="text-center mb-4">New Arrivals</h2>
        <app-new-arrivals></app-new-arrivals>
    </div>

    <div class="mb-3">
        <h2 class="text-center mb-4">PopularCategories</h2>
        <app-popular-categories></app-popular-categories>
    </div>

    <div class="mb-5">
        <h2 class="text-center mb-4">Trending</h2>
        <app-trending-categories></app-trending-categories>
    </div>
</div>

<div class="mb-5">
    <app-custom-fit></app-custom-fit>
</div>

<div>
    <app-footer-elements></app-footer-elements>
</div>