<div class="mx-3 d-flex justify-content-between mb-3 text-color-custom">

    <div class="mb-2 text-center text-lg-start">
        <img class="img img-fluid mb-4" src="/Amrielle_Logo.png" alt="Logo">
        <h2 class="mb-4">Discover your <br> Perfect fit!</h2>
        <div class="d-flex justify-content-center justify-content-lg-start gap-3">
            <a class="" href="#"><i class="bi bi-facebook fs-4 text-dark"></i></a>
            <a class="" href="#"><i class="bi bi-instagram fs-4 text-dark"></i></a>
            <a class="" href="#"><i class="bi bi-twitter fs-4 text-dark"></i></a>
            <a class="" href="#"><i class="bi bi-linkedin fs-4 text-dark"></i></a>
        </div>
    </div>

    <div class="mb-4">
        <h6 class="">Discover</h6>
        <ul class="list-unstyled">
            <li class="mb-3"><a href="/home/male" class="text-dark text-decoration-none">Shop for Male</a></li>
            <li class="mb-3"><a href="/home/female" class="text-dark text-decoration-none">Shop for Female</a></li>
            <li class="mb-3"><a href="#" class="text-dark text-decoration-none">Customize your fit</a></li>
            <li class=""><a href="#" class="text-dark text-decoration-none">Stylefile</a></li>
        </ul>
    </div>

    <div class="mb-4">
        <h6 class="">Borringg!</h6>
        <ul class="list-unstyled">
            <li class="mb-3"><a href="#" class="text-dark text-decoration-none">Shipping & Returns</a></li>
            <li class="mb-3"><a href="#" class="text-dark text-decoration-none">Return/Exchange</a></li>
            <li class="mb-3"><a href="#" class="text-dark text-decoration-none">Privacy Policy</a></li>
            <li><a href="#" class="text-dark text-decoration-none">Terms of Service</a></li>
        </ul>
    </div>

    <div class="mb-4">
        <h6 class="">Get In Touch</h6>
        <p class="mb-3"><i class="bi bi-telephone"></i> (480) 655-0103</p>
        <p><i class="bi bi-envelope"></i> sayali&#64;amrielle.in</p>
    </div>

    <div class="">
        <h6 class="">Sign up for our newsletter</h6>
        <p class="text-dark-custom">Be the first to know about our special offers, news, and updates.</p>
        <form class="d-flex">
            <input type="email" class="form-control me-2" placeholder="Enter your email address" required>
            <button type="submit" class="btn btn-brown">Subscribe</button>
        </form>
    </div>

</div>