.banner_img{
    height: 75vh;
    width: 90vw;
    border: 1px solid transparent;
    border-radius: 12px;
}

.heading{
    h1{
        font-size: 4rem;
    }


    h5{
        font-size: 2rem;
        color: #fff;
        margin-bottom: 15%;
    }

    button{
        background: #031133;
        border-radius: 4px;
        font-size: 14px;
    }
}