.discover_h1 {
    h1 {
        font-size: 4rem;
        color: var(--Primary-Primary2000, #2B2015);
    }
}

.amrielle_span {
    color: #A0764E;
    font-style: italic;
}

.btn_shopping {
    background: var(--Primary-Primary, #A0764E);
    border-radius: 6px;
    padding: 2px;
    font-size: 14px;
}
