.bg-gray-custom{
    background: #CDCDCD;
    width: 100%;

    h1{
        font-size: 4rem;
    }
    overflow-x: hidden;
}

.custom_fit_btn{
    background: var(--Primary-Primary2000, #2B2015);
    border-radius: 4px;
}
