<div class="bg-gray-custom">
    <div class="row align-items-center">
        <div class="p-4 col-6">
            <div>
                <h1>Get clothes that <br> Fit you</h1>
                <p>Not you fitting into clothes.</p>
            </div>
            
            <div>
                <button (click)="openProducts('custom-fit')" class="custom_fit_btn px-4 py-2 text-white border-0">CUSTOMIZE YOUR FIT <span><i class="bi bi-arrow-right"></i></span> </button>
            </div>
        </div>

        <div class="col-6">
            <img class="img img-fluid" src="/bg_custom_fit.png" alt="bg-custom-fit">
        </div>
        
    </div>
   
</div>
